<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/css/style_interface.css">
    <link rel="icon" href="../static/icon.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Calligraffitti&display=swap" rel="stylesheet">    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello friend!</title>
</head>
<body>
    <div id="main">
        <img src="../static/el.jpg">
        <h1>I will never show you the path, and I love theory btw.</h1>
        <p>Someone told me you're applying for a subgroup leader position, show us your skills, leader!</p>
    </div>
</body>



<!--I never knew how to hide stuff, maybe a hidden folder would do the job... -->
</html>