<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../static/css/style_secret.css">
    <link rel="icon" href="../static/icon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Secret teller</title>
</head>

{% block body %}

<body>
    <div id="main">
        <h1>Hello Hacker!</h1>
        <img src="https://c.tenor.com/ftCDJ8HdO6QAAAAC/mr-robot-hacking.gif">
        <p>
            Welcome to my new secret teller webpage! It's the most secure interface ever :).
            <br>
            Show me your hackerony shenanigans and extract the flag! It's the only way to get hired as a web subgroup leader.
        </p>
        <!--Hint: I love python! On the Server Side too! <3 Google will be your friend from now on.-->
    </div>
    <div id="input">
        <form action="/hidden" method="GET">
            <input class="search" name="input" type="text" style="">
            <br>
            <input class="send" type="submit" style="height: 35px">
        </form>
    </div>
    <div id="printing">
        <h2>{{ output }}</h2>
    </div>
</body>

{% endblock %}

</html>