<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Secret teller</title>
</head>
<body>
    <h1>Hello Hacker!</h1>
    <p>
        Welcome to my new secret teller webpage! It's the most secure interface ever :) But I hope none of you will find the key to get the secret.
        <br>
        Show me your hackerony shenanigans and extract the flag! It's the only way to get hired as a web subgroup leader.
    </p>
</body>
</html>