@font-face {
    font-family: Hacked;
    src: url(https://hackedfont.com/HACKED.ttf);
}

body {
    background-color: black;
}

#main h1{
    font-family: 'Hacked';
    color: red;
    font-size: 80px;
    text-align: center;
}

#main p{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 25px;
}