@font-face {
    font-family: Hacked;
    src: url(https://hackedfont.com/HACKED.ttf);
}

body {
    background-color: black;
}

#main img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

#main h1{
    font-family: 'Hacked';
    color: red;
    font-size: 80px;
    text-align: center;
}

#main p{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 25px;
}

#input{
    text-align: center;
}

#input .search{
    width: 30%;
    border-radius: 4px;
    border: 2px solid rgb(0, 255, 0);
    padding: 10px 5px;
    margin-bottom: 10px;
}

#printing h2{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    padding: 20px 5px;
    font-size: 20px;
}